deb http://ppa.launchpad.net/stebbins/handbrake-releases/ubuntu {{ansible_lsb.codename|lower}} main
deb-src http://ppa.launchpad.net/stebbins/handbrake-releases/ubuntu {{ansible_lsb.codename|lower}} main
